.menu{
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px;
  position: relative;
  font-family: Arial;
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid transparent;
  user-select: none;
}

.menu:hover{
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.menu-content{
  position: absolute;
  bottom: 0;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  display: none;
  width: 175px;
  height: 150px;
  bottom: -157px;
  left:-1px;
  border-radius: 5px;
}

.menu-content p{
  margin-left: 10px;
  user-select: none;
}

.menu a::after{
  content:'';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 

  border-left: 5px solid #ffffff;
  border-right: 5px solid  #ffffff;
   border-top: 5px solid transparent; 

}

.menu::after{
  content:'';
  /* background-color:red; */
  width: 100%;
  display: none;
  height: 16px;
  position: absolute;
  left: -1px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.menu.active::after{
  display: block;
}

.menu.active .menu-content{
  display: block;
}

.newsletter{
  font-weight: bold;
}
