.menu{
  display: inline-block;
  background-color:#0ff;
  color: #fff;
  padding: 10px;
  position: relative;
  font-family: Arial;
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid transparent;
  user-select: none;
}

.menu:hover{
  background-color:black;
  color: #000;
  border-color: #000;
}

.menu-content{
  position: absolute;
  bottom: 0;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  display: none;
  width: 175px;
  height: 150px;
  bottom: -157px;
  left:-1px;
  border-radius: 5px;
}

.menu-content p{
  margin-left: 10px;
  user-select: none;
}

/*.menu::after{
  content:'';
  display: inline-block;
  width: 0; 
  height: 0; 
  border: solid white;
  border-width: 0 2px 2px 0;
  padding:3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 5px;
}*/



/*.menu.active::after{
  content:'';
  display: block;
  width: 0; 
  height: 0;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 65px;
}*/

#


menu-down{
  transform: rotate(0deg);
}

.menu.active .menu-content{
  display: block;
}

.newsletter{
  font-weight: bold;
}
