.menu{
  display: inline-block;
  /*background-color:#0ff;*/
  color: #fff;
  padding: 10px;
  position: relative;
  /* font-family: Arial; */
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid transparent;
  user-select: none;
}

.menu a{
  text-decoration: none;
  background: #ffffff;
}

 a:hover{
  background:#ffffff;
  text-decoration: underline;
  color:BLUE;
}


.menu i:active{
  transform: rotatez(180deg);
}

/*.menu i:visited{
  transform: rotatez(180deg);
}*/

.menu:hover{
  background-color:#ffffff;
  color: #000;
  border-color: #000;
}

.menu-content{
  position: absolute;
  bottom: 0;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  display: none;
  width: 175px;
  height: 150px;
  bottom: -157px;
  left:-1px;
  border-radius: 5px;
}

.menu-content p{
  margin-left: 10px;
  user-select: none;
}

.menu::after{
  content:'';
  display: inline-block;
  width: 0; 
  height: 0; 
}


.menu.active{
  background-color: #ffffff;
  border-color: #000;
  color: #000000;
}

.menu.active::after{
  display:block;
}


.menu.active .menu-content{
  display: block;
}

.newsletter{
  font-weight: bold;
}
